{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-7">
            <a class="thumbnail well well-sm">
                <img src="/img/no_image.jpg" alt="img">
            </a>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-wrench"></i> Settings
                    <a class="btn btn-default btn-xs pull-right">reset</a>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <legend>Resolutions</legend>
                        <div class="form-group ">
                            <div class="row">
                                <div class="col-xs-4"><label>Load Preset</label></div>
                                <div class="col-xs-8">
                                    <select onclick="set_preset(this.value)" class="form-control input-sm">
                                        <option value="1920 1080 25 25 2592 1944">Select option...</option>
                                        <option value="1920 1080 25 25 2592 1944">Std FOV</option>
                                        <option value="1296 0730 25 25 2592 1944">16:9 wide FOV</option>
                                        <option value="1296 0976 25 25 2592 1944">4:3 full FOV</option>
                                        <option value="1920 1080 01 30 2592 1944">Std FOV, x30 Timelapse</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <label>Custom Values</label>
                        <div class="row">
                            <div class="col-xs-4">
                                Video res
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" id="video_width" class="form-control input-sm" placeholder="width">
                                        <span class="input-group-addon">px</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" id="video_height" class="form-control input-sm" placeholder="height">
                                        <span class="input-group-addon">px</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                Video fps
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" id="video_fps" class="form-control input-sm" placeholder="recording">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" id="MP4Box_fps" class="form-control input-sm" placeholder="boxing">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                Image res
                            </div>
                            <div class="col-xs-4">
                                <div class="input-group">
                                    <input type="text" id="image_width" class="form-control input-sm" placeholder="width">
                                    <span class="input-group-addon">px</span>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="input-group">
                                    <input type="text" id="image_height" class="form-control input-sm" placeholder="height">
                                    <span class="input-group-addon">px</span>
                                </div>
                            </div>
                        </div>
                        <input type="button" value="OK" onclick="set_res();">
                    </fieldset>

                    <hr>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-8">
                                <label>Timelapse-Interval</label> (0.1...3200)
                            </div>
                            <div class="col-xs-4">
                                <div class="input-group">
                                    <input type="text" id="tl_interval" class="form-control input-sm" value="3">
                                    <span class="input-group-addon">sec</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4">
                                <label>Sharpness</label>
                                <input type="button" value="set" class="btn btn-default btn-xs pull-right"
                                       onclick="send_cmd('sh ' + document.getElementById('sharpness').value)">
                            </div>
                            <div class="col-xs-8">
                                <input class="slider-inlut" id="sharpness" data-slider-id="ex1Slider"
                                       type="text" data-slider-min="-100" data-slider-max="100"
                                       data-slider-step="1" data-slider-value="0"/>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4">
                                <label>Contrast</label>
                            </div>
                            <div class="col-xs-8">
                                <input class="slider-inlut" id="contrast" data-slider-id="ex1Slider"
                                       type="text" data-slider-min="-100" data-slider-max="100"
                                       data-slider-step="1" data-slider-value="0"/>
                            </div>
                        </div>
                        <input type="button" value="OK" onclick="send_cmd('co ' + document.getElementById('contrast').value)">
                    </div>

                    <hr>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4">
                                <label>Brightness</label>
                            </div>
                            <div class="col-xs-8">
                                <input class="slider-inlut" id="brightness" data-slider-id="ex1Slider"
                                       type="text" data-slider-min="-100" data-slider-max="100"
                                       data-slider-step="1" data-slider-value="0"/>
                            </div>
                        </div>
                        <input type="button" value="OK" onclick="send_cmd('br ' + document.getElementById('brightness').value)">
                    </div>

                    <hr>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4">
                                <label>Saturation</label>
                            </div>
                            <div class="col-xs-8">
                                <input class="slider-inlut" id="saturation" data-slider-id="ex1Slider"
                                       type="text" data-slider-min="-100" data-slider-max="100"
                                       data-slider-step="1" data-slider-value="0"/>
                            </div>
                        </div>
                        <input type="button" value="OK" onclick="send_cmd('sa ' + document.getElementById('saturation').value)">
                    </div>

                    <hr>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4">
                                <label>ISO</label>
                            </div>
                            <div class="col-xs-8">
                                <input class="slider-inlut" id="iso" data-slider-id="ex1Slider"
                                       type="text" data-slider-min="100" data-slider-max="800"
                                       data-slider-step="1" data-slider-value="0"/>
                            </div>
                        </div>
                        <input type="button" value="OK" onclick="send_cmd('is ' + document.getElementById('iso').value)">
                    </div>

                    <hr>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4">
                                <label>Metering Mode</label>
                            </div>
                            <div class="col-xs-8">
                                <select onclick="send_cmd('mm ' + this.value)" class="form-control input-sm">
                                    <option value="average" selected="selected">Average</option>
                                    <option value="spot">Spot</option>
                                    <option value="backlit">Backlit</option>
                                    <option value="matrix">Matrix</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-8">
                                <label>Video Stabilisation</label>
                            </div>
                            <div class="col-xs-4">
                                <div class="btn-group" data-toggle="buttons">
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-default btn-sm" onclick="send_cmd('vs 1')">
                                            <input type="radio" name="options" id="option1" checked> ON
                                        </label>
                                        <label class="btn btn-default btn-sm active" onclick="send_cmd('vs 0')">
                                            <input type="radio" name="options" id="option2"> OFF
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4">
                                <label>Exposure Compensation</label>
                            </div>
                            <div class="col-xs-8">
                                <input class="slider-inlut" id="comp" data-slider-id="ex1Slider"
                                       type="text" data-slider-min="-10" data-slider-max="10"
                                       data-slider-step="1" data-slider-value="0"/>
                            </div>
                        </div>
                        <input type="button" value="OK" onclick="send_cmd('ec ' + document.getElementById('comp').value)">
                    </div>

                    <hr>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4">
                                <label>Exposure Mode</label>
                            </div>
                            <div class="col-xs-8">
                                <select onclick="send_cmd('em ' + this.value)" class="form-control input-sm">
                                    <option value="off">Off</option>
                                    <option value="auto" selected="selected">Auto</option>
                                    <option value="night">Night</option>
                                    <option value="nightpreview">Nightpreview</option>
                                    <option value="backlight">Backlight</option>
                                    <option value="spotlight">Spotlight</option>
                                    <option value="sports">Sports</option>
                                    <option value="snow">Snow</option>
                                    <option value="beach">Beach</option>
                                    <option value="verylong">Verylong</option>
                                    <option value="fixedfps">Fixedfps</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4">
                                <label>White Balance</label>
                            </div>
                            <div class="col-xs-8">
                                <select onclick="send_cmd('wb ' + this.value)" class="form-control input-sm">
                                    <option value="off">Off</option>
                                    <option value="auto" selected="selected">Auto</option>
                                    <option value="sun">Sun</option>
                                    <option value="cloudy">Cloudy</option>
                                    <option value="shade">Shade</option>
                                    <option value="tungsten">Tungsten</option>
                                    <option value="fluorescent">Fluorescent</option>
                                    <option value="incandescent">Incandescent</option>
                                    <option value="flash">Flash</option>
                                    <option value="horizon">Horizon</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4">
                                <label>Image Effect</label>
                            </div>
                            <div class="col-xs-8">
                                <select onclick="send_cmd('ie ' + this.value)" class="form-control input-sm">
                                    <option value="none" selected="selected">None</option>
                                    <option value="negative">Negative</option>
                                    <option value="solarise">Solarise</option>
                                    <option value="sketch">Sketch</option>
                                    <option value="denoise">Denoise</option>
                                    <option value="emboss">Emboss</option>
                                    <option value="oilpaint">Oilpaint</option>
                                    <option value="hatch">Hatch</option>
                                    <option value="gpen">Gpen</option>
                                    <option value="pastel">Pastel</option>
                                    <option value="watercolour">Watercolour</option>
                                    <option value="film">Film</option>
                                    <option value="blur">Blur</option>
                                    <option value="saturation">Saturation</option>
                                    <option value="colourswap">Colourswap</option>
                                    <option value="washedout">Washedout</option>
                                    <option value="posterise">Posterise</option>
                                    <option value="colourpoint">Colourpoint</option>
                                    <option value="colourbalance">Colourbalance</option>
                                    <option value="cartoon">Cartoon</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-xs-4">
                            Colour Effect
                        </div>
                        <div class="col-xs-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" id="ce_en" value="1">
                                </span>
                                <input type="text" id="ce_u" class="form-control input-sm" placeholder="ultra">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="input-group">
                                <input type="text" id="ce_v" class="form-control input-sm" placeholder="violet">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm" type="button" onclick="set_ce();">set</button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4">
                                <label>Rotation</label>
                            </div>
                            <div class="col-xs-8">
                                <input onchange="send_cmd('ro ' + this.value)"
                                       class="slider-inlut" id="comp" data-slider-id="ex1Slider"
                                       type="text" data-slider-min="0" data-slider-max="270"
                                       data-slider-step="90" data-slider-value="0"/>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4">
                                <label>Flip</label>
                            </div>
                            <div class="col-xs-8">
                                <select onclick="send_cmd('fl ' + this.value)" class="form-control input-sm">
                                    <option value="0" selected="selected">None</option>
                                    <option value="1">Horizonal</option>
                                    <option value="2">Vertical</option>
                                    <option value="3">Both</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <fieldset>
                        <div class="row">
                            <div class="col-xs-4">
                                <label>Sensor Region</label>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">x</span>
                                        <input type="text" id="roi_x" class="form-control input-sm" value="0">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">y</span>
                                        <input type="text" id="roi_y" class="form-control input-sm" value="0">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">w</span>
                                        <input type="text" id="roi_w" class="form-control input-sm" value="65536">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">h</span>
                                        <input type="text" id="roi_h" class="form-control input-sm" value="65536">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="button" value="OK" onclick="set_roi();">
                    </fieldset>

                    <hr>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4">
                                <label>Shutter speed</label> (0...330000)
                            </div>
                            <div class="col-xs-8">
                                <input type="text" id="shutter_speed" class="form-control input-sm" value="0">
                                <input type="button" value="OK" onclick="send_cmd('ss ' + document.getElementById('shutter_speed').value)">
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4">
                                <label>Image quality</label>
                            </div>
                            <div class="col-xs-8">
                                <input onchange="send_cmd('ro ' + this.value)"
                                       class="slider-inlut" id="quality" data-slider-id="ex1Slider"
                                       type="text" data-slider-min="0" data-slider-max="100"
                                       data-slider-step="1" data-slider-value="85"/>
                            </div>
                        </div>
                        <input type="button" value="OK" onclick="send_cmd('qu ' + document.getElementById('quality').value)">
                    </div>

                    <hr>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-8">
                                <label>Raw Layer</label>
                            </div>
                            <div class="col-xs-4">
                                <div class="btn-group" data-toggle="buttons">
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-default btn-sm" onclick="send_cmd('rl 1')">
                                            <input type="radio" name="options" id="option1" checked> ON
                                        </label>
                                        <label class="btn btn-default btn-sm active" onclick="send_cmd('rl 0')">
                                            <input type="radio" name="options" id="option2"> OFF
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-8">
                                <label>Video bitrate</label> (0...25000000)
                            </div>
                            <div class="col-xs-4">
                                <input type="text" id="bitrate" class="form-control input-sm" value="17000000">
                                <input type="button" value="OK" onclick="send_cmd('bi ' + document.getElementById('bitrate').value)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <div class="container">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">
                        <i class="fa fa-youtube-play fa-lg text-success"></i>
                        <span class="hidden-xs text-success">Start</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-video-camera fa-lg"></i>
                        <span class="hidden-xs">Record video</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-image fa-lg"></i>
                        <span class="hidden-xs">Record image</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-clock-o fa-lg"></i>
                        <span class="hidden-xs">Timelapse start</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-eye fa-lg"></i>
                        <span class="hidden-xs">Motion detection</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}